*.swo
*.swp
debugData.txt
*.png
adns_dll.dll
*.obj
*.res
*.log
*.tlog
*.lastbuildstate
*.pdb
GeneratedFiles/*
*.dll
logs/*
*.vcxproj.*
*.vcxproj
*.aps
Release/*
Debug/*
restore
result_files/*
*.bmp
*.bk

tags.txt
result_files-*
*.BACKUP.*
*.LOCAL.*
*.REMOTE.*
*.BASE.*
*.o
nesca
moc_*
*~
*.user
Makefile
tmp/*
qrc_nesca_3.cpp
